# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================

venv/
.venv/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# SQLite Database
# ==========================

db.sqlite3

# ==========================
# Django
# ==========================

staticfiles/
media/

# ==========================
# Django Migrations Cache
# ==========================

*/migrations/__pycache__/

# ==========================
# Coverage / Testing
# ==========================

.coverage
htmlcov/
.pytest_cache/

# ==========================
# Type Checking
# ==========================

.mypy_cache/

# ==========================
# IDE / Editor
# ==========================

.vscode/
.idea/

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db
